body{
	background-color: grey;
    }
.topic{color: red;
      border-style: double;
      border-width: 5px;
      border-color: green;
     }
 .class{
        border-style: dotted;
        border-color: red;
        border-width: 10px;
        
        }
 .content{
          background-color: black;


 }
 p {color: white;
 }